<div *ngIf="isLoading">
  <app-loading></app-loading>
</div>

<div *ngIf="slide">
  <!-- Image Component -->
  <div class="row">
    <div class="col-md-1">
      <span class="glyphicon glyphicon-chevron-left" *ngIf="!slide.isFirstSlide" (click)="changeSlide(slide.slideNum-1)"></span>
    </div>
    <div class="col-md-10">
      <app-image [imagePath]="slide.imagePath"></app-image>
    </div>
    <div class="col-md-1">
      <span class="glyphicon glyphicon-chevron-right" *ngIf="!slide.isLastSlide" (click)="changeSlide(slide.slideNum+1)"></span>
    </div>
  </div>

  <!-- AudioComponent -->
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <app-audio [audioPath]="slide.audioPath"></app-audio>
    </div>
  </div>

  <!-- TextComponent -->
  <div class="row">
    <div class="col-md-8 col-md-offset-2" id="textDiv">
      <app-text [text]="slide.text"></app-text>
    </div>
  </div>

</div>
<!-- Error Message -->
<div *ngIf="isError" id="errorDiv">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <b>Looks like the slide you are trying to access doesn't exist. Click on the button below to
        go to the first slide</b>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-md-offset-5">
      <button class="btn btn-block btn-primary" (click)="changeSlide(1)">Go to Slide 1</button>
    </div>
  </div>
</div>