div[class^="col"]{
    text-align: center;
}
.row{
    padding: 2%;
}
.glyphicon {
    font-size: 50px;
    line-height: 8em;
    cursor: pointer;
}
#textDiv{
    text-align: left !important;
}

#errorDiv{
    margin-top: 17%;
    border: 1px solid black;
    width: 80%;
    margin-left:10%;
}